In [67]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
from yelp.client import Client
import json
from ratelimit import limits
import requests

csv

# url = "https://wft-geo-db.p.rapidapi.com/v1/geo/cities"

# querystring = {"limit":"10","countryIds":"US"}

# headers = {
#     'x-rapidapi-key': "4164b358bbmsh555d6cdf1cb65e9p18da16jsnacdeccfdbad9",
#     'x-rapidapi-host': "wft-geo-db.p.rapidapi.com"
#     }

# response = requests.request("GET", url, headers=headers, params=querystring).json()

# print(len(response))

3

In [63]:
# city = [for i in sponse["data"][1]["name"]
# print(city)

city_dict = {}
city_dict["City"] = [response["data"][i]["name"] for i in range(len(response))]
city_df = pd.DataFrame(city_dict)
city_df.head()

         City
0  Aaronsburg
1  Aaronsburg
2      Abanda