In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
#from yelp.client import Client
import json
from ratelimit import limits
import requests
import csv
import random
from lock import yelp_key
my_api_key = yelp_key


df = pd.read_csv("../sub-est2019_all.csv", engine='python')
rural_city = df[(df["POPESTIMATE2019"]< 50000) & (df["POPESTIMATE2019"] > 1000) & (df["PRIMGEO_FLAG"]==0)]
rural_df = rural_city[["NAME", "STNAME", "POPESTIMATE2019"]]
urban_city = df[df["POPESTIMATE2019"]>= 50000]
urban_df = urban_city[["NAME", "STNAME", "POPESTIMATE2019"]]
urban_index = urban_df.loc[urban_df["NAME"] == urban_df["STNAME"]].index
urban_clean = urban_df.drop(urban_index)
random_urban_city = urban_clean[["NAME", "STNAME","POPESTIMATE2019"]].sample(n=100, random_state=1)
random_rural_city = rural_df[["NAME", "STNAME", "POPESTIMATE2019"]].sample(n=100, random_state=1)

In [ ]:
headers = {'Authorization': 'Bearer %s' % my_api_key}

rural_dict = {
    "Searched": [],
    "City": [],
    "State": [],
    "Lat": [],
    "Lng": [],
    "Restaurant": [],
    "Category": [],
#     "Category 2": [],
#     "Category 3": [],
    "Transactions":[]
}

url='https://api.yelp.com/v3/businesses/search'
offset = np.arange(0,950,50).tolist() 

for city, state in zip(random_rural_city["NAME"], random_rural_city["STNAME"]):
    for i in range(len(offset)):
        params = {
            'location': f"{city}, {state}",
            'radius': 8047,
            'limit': 50,
            'offset': offset[i]
                 }
        response = requests.get(url, params = params, headers = headers).json()
        try:
            for business in range(len(response["businesses"])):
                try:
                    rural_dict["Searched"].append(f"{city}, {state}")
                    rural_dict["City"].append(response["businesses"][business]["location"]["city"])
                    rural_dict["State"].append(response["businesses"][business]["location"]["state"])
                    rural_dict["Lat"].append(response["businesses"][business]["coordinates"]["latitude"])
                    rural_dict["Lng"].append(response["businesses"][business]["coordinates"]["longitude"])
                    rural_dict["Restaurant"].append(response["businesses"][business]["name"])
                    rural_dict["Category"].append([response["businesses"][business]["categories"][i]["title"] for i in range(len(response["businesses"][business]["categories"]))])
#                     rural_dict["Category"].append(response["businesses"][business]["categories"][0]["title"])
#                     rural_dict["Category 2"].append(response["businesses"][business]["categories"][1]["title"])
#                     rural_dict["Category 3"].append(response["businesses"][business]["categories"][2]["title"])
                    rural_dict["Transactions"].append(response["businesses"][business]["transactions"])
                except KeyError:
                    rural_dict["Searched"].append("No City Found")
                    rural_dict["City"].append("No City Found")
                    rural_dict["State"].append("No State Found")
                    rural_dict["Lat"].append("No Lat Found")
                    rural_dict["Lng"].append("No Lng Found")
                    rural_dict["Restaurant"].append("No Restaurant Found")
                    rural_dict["Category"].append("No Categories")
                    rural_dict["Transactions"].append("No Transactions Found")
#                 except IndexError:
#                     rural_dict["Category 2"].append("")
#                     rural_dict["Category 3"].append("")
        except KeyError:
                pass

In [ ]:
rural = pd.DataFrame.from_dict(rural_dict, orient='index')
rural = rural.transpose()
rural.head(70)

In [2]:
headers = {'Authorization': 'Bearer %s' % my_api_key}

urban_dict = {
    "Searched": [],
    "City": [],
    "State": [],
    "Lat": [],
    "Lng": [],
    "Restaurant": [],
    "Category": [],
#     "Category 2": [],
#     "Category 3": [],
    "Transactions":[]
}

url='https://api.yelp.com/v3/businesses/search'
offset = np.arange(0,950,50).tolist() 

for city, state in zip(random_urban_city["NAME"], random_urban_city["STNAME"]):
    for i in range(len(offset)):
        params = {
            'location': f"{city}, {state}",
            'radius': 8047,
            'limit': 50,
            'offset': offset[i]
                 }
        response = requests.get(url, params = params, headers = headers).json()
        try:
            for business in range(len(response["businesses"])):
                try:
                    urban_dict["Searched"].append(f"{city}, {state}")
                    urban_dict["City"].append(response["businesses"][business]["location"]["city"])
                    urban_dict["State"].append(response["businesses"][business]["location"]["state"])
                    urban_dict["Lat"].append(response["businesses"][business]["coordinates"]["latitude"])
                    urban_dict["Lng"].append(response["businesses"][business]["coordinates"]["longitude"])
                    urban_dict["Restaurant"].append(response["businesses"][business]["name"])
                    urban_dict["Category"].append([response["businesses"][business]["categories"][i]["title"] for i in range(len(response["businesses"][business]["categories"]))])
#                     rural_dict["Category"].append(response["businesses"][business]["categories"][0]["title"])
#                     rural_dict["Category 2"].append(response["businesses"][business]["categories"][1]["title"])
#                     rural_dict["Category 3"].append(response["businesses"][business]["categories"][2]["title"])
                    urban_dict["Transactions"].append(response["businesses"][business]["transactions"])
                except KeyError:
                    urban_dict["Searched"].append("No City Found")
                    urban_dict["City"].append("No City Found")
                    urban_dict["State"].append("No State Found")
                    urban_dict["Lat"].append("No Lat Found")
                    urban_dict["Lng"].append("No Lng Found")
                    urban_dict["Restaurant"].append("No Restaurant Found")
                    urban_dict["Category"].append("No Categories")
                    urban_dict["Transactions"].append("No Transactions Found")
#                 except IndexError:
#                     rural_dict["Category 2"].append("")
#                     rural_dict["Category 3"].append("")
        except KeyError:
                pass

In [3]:
urban = pd.DataFrame.from_dict(urban_dict, orient='index')
urban = urban.transpose()
urban.head()

,Searched,City,State,Lat,Lng,Restaurant,Category,Transactions
0,"Spokane Valley city, Washington",Spokane Valley,WA,47.657,-117.278,La Plaza De Mexico,[Mexican],[delivery]
1,"Spokane Valley city, Washington",Spokane Valley,WA,47.6572,-117.262,Choo Choo Tortas,[Mexican],[delivery]
2,"Spokane Valley city, Washington",Spokane Valley,WA,47.6135,-117.244,Craft & Gather,"[American (Traditional), Bars]",[]
3,"Spokane Valley city, Washington",Spokane Valley,WA,47.6666,-117.239,Shamus's Sandwich Shop,[Sandwiches],[delivery]
4,"Spokane Valley city, Washington",Spokane Valley,WA,47.6621,-117.241,Little Euro,"[Breakfast & Brunch, Coffee & Tea]",[delivery]

In [5]:
urban.to_csv("../urbantest.csv")
#rural.to_csv("../ruraltest.csv")

In [ ]:
rural_cat= pd.DataFrame(rural["Category"].to_list(), columns = ["Category 1", "Category 2", "Category 3", "Category 4", "Category 5", "Category 6"])
rural_clean = rural_cat[["Category 1", "Category 2", "Category 3"]]
rural_clean = rural.merge(rural_cats, left_index = True,right_index = True)
rural_clean.head()

In [6]:
urban_cat= pd.DataFrame(urban["Category"].to_list(), columns = ["Category 1", "Category 2", "Category 3", "Category 4"], index = urban.index)
urban_cats = urban_cat[["Category 1", "Category 2", "Category 3"]]
urban_clean = urban.merge(urban_cats, left_index = True,right_index = True)
urban_clean.head(30)

,Searched,City,State,Lat,Lng,Restaurant,Category,Transactions,Category 1,Category 2,Category 3
0,"Spokane Valley city, Washington",Spokane Valley,WA,47.657,-117.278,La Plaza De Mexico,[Mexican],[delivery],Mexican,None,None
1,"Spokane Valley city, Washington",Spokane Valley,WA,47.6572,-117.262,Choo Choo Tortas,[Mexican],[delivery],Mexican,None,None
2,"Spokane Valley city, Washington",Spokane Valley,WA,47.6135,-117.244,Craft & Gather,"[American (Traditional), Bars]",[],American (Traditional),Bars,None
3,"Spokane Valley city, Washington",Spokane Valley,WA,47.6666,-117.239,Shamus's Sandwich Shop,[Sandwiches],[delivery],Sandwiches,None,None
4,"Spokane Valley city, Washington",Spokane Valley,WA,47.6621,-117.241,Little Euro,"[Breakfast & Brunch, Coffee & Tea]",[delivery],Breakfast & Brunch,Coffee & Tea,None
5,"Spokane Valley city, Washington",Spokane Valley,WA,47.6568,-117.243,Thrifty Scotsman Drive In !,"[Burgers, Fast Food, Desserts]",[delivery],Burgers,Fast Food,Desserts
6,"Spokane Valley city, Washington",Spokane Valley,WA,47.6509,-117.239,Thai Kitchen,[Thai],[delivery],Thai,None,None
7,"Spokane Valley city, Washington",Spokane Valley,WA,47.628,-117.225,Fiesta Grande,[Mexican],[delivery],Mexican,None,None
8,"Spokane Valley city, Washington",Spokane Valley,WA,47.6783,-117.299,Sushi House,[Sushi Bars],[],Sushi Bars,None,None
9,"Spokane Valley city, Washington",Spokane Valley,WA,47.6572,-117.248,HuHot Mongolian Grill,"[Mongolian, Asian Fusion, Chinese]",[delivery],Mongolian,Asian Fusion,Chinese
10,"Spokane Valley city, Washington",Spokane Valley,WA,47.6576,-117.215,Halletts Market & Cafe,"[Coffee & Tea, Cafes, Specialty Food]",[delivery],Coffee & Tea,Cafes,Specialty Food
11,"Spokane Valley city, Washington",Spokane Valley,WA,47.6782,-117.299,Terry's Breakfast & Lunch,"[Breakfast & Brunch, American (Traditional), D...",[delivery],Breakfast & Brunch,American (Traditional),Diners
12,"Spokane Valley city, Washington",Spokane Valley,WA,47.6601,-117.195,Toro Sushi,"[Japanese, Sushi Bars]",[delivery],Japanese,Sushi Bars,None
13,"Spokane Valley city, Washington",Spokane Valley,WA,47.6757,-117.206,Twigs Bistro and Martini Bar,"[Bars, American (New)]",[delivery],Bars,American (New),None
14,"Spokane Valley city, Washington",Spokane Valley,WA,47.6422,-117.262,Northwest Pizza,"[Pizza, Desserts, Sandwiches]",[],Pizza,Desserts,Sandwiches
15,"Spokane Valley city, Washington",Spokane Valley,WA,47.6574,-117.251,Mangrove Cafe & Bakery,"[Thai, Bakeries, Creperies]",[delivery],Thai,Bakeries,Creperies
16,"Spokane Valley city, Washington",Spokane Valley,WA,47.6569,-117.241,Dave's Bar & Grill,"[American (Traditional), Fish & Chips, Breakfa...",[delivery],American (Traditional),Fish & Chips,Breakfast & Brunch
17,"Spokane Valley city, Washington",Spokane Valley,WA,47.6799,-117.282,Ambrosia Bistro & Wine Bar,"[American (New), Wine Bars]",[delivery],American (New),Wine Bars,None
18,"Spokane Valley city, Washington",Spokane Valley,WA,47.6673,-117.196,MAX at Mirabeau,[American (New)],[],American (New),None,None
19,"Spokane Valley city, Washington",Spokane Valley,WA,47.6574,-117.278,Jenny's Cafe,"[Breakfast & Brunch, Gluten-Free, American (Tr...",[delivery],Breakfast & Brunch,Gluten-Free,American (Traditional)
20,"Spokane Valley city, Washington",Spokane Valley,WA,47.6576,-117.272,La Michoacana Mini Market,"[Mexican, Bakeries, Bars]",[delivery],Mexican,Bakeries,Bars
21,"Spokane Valley city, Washington",Spokane valley,WA,47.6568,-117.255,Top of India,"[Indian, Buffets, Gluten-Free]","[pickup, delivery]",Indian,Buffets,Gluten-Free
22,"Spokane Valley city, Washington",Spokane Valley,WA,47.6692,-117.282,Pete & Belle's Ice Cream Shop,[Ice Cream & Frozen Yogurt],[delivery],Ice Cream & Frozen Yogurt,None,None
23,"Spokane Valley city, Washington",Spokane Valley,WA,47.6185,-117.251,TT’s Old Iron Brewery,"[Breweries, Barbeque]",[delivery],Breweries,Barbeque,None
24,"Spokane Valley city, Washington",Spokane,WA,47.657,-117.243,Le Brothers,[Vietnamese],"[pickup, delivery]",Vietnamese,None,None
25,"Spokane Valley city, Washington",Spokane Valley,WA,47.6557,-117.197,Mongolian BBQ,[Mongolian],[delivery],Mongolian,None,None
26,"Spokane Valley city, Washington",Spokane Valley,WA,47.6568,-117.201,Donna's Diner,[Diners],[delivery],Diners,None,None
27,"Spokane Valley city, Washington",Spokane,WA,47.6784,-117.282,Caruso's Sandwiches & Artisan Pizza,"[Sandwiches, Salad, Pizza]","[pickup, delivery]",Sandwiches,Salad,Pizza
28,"Spokane Valley city, Washington",Spokane,WA,47.6699,-117.283,Chan Bistro,"[Chinese, Thai, Vietnamese]","[pickup, delivery]",Chinese,Thai,Vietnamese
29,"Spokane Valley city, Washington",Spokane Valley,WA,47.6587,-117.196,Wake Up Call,"[Coffee & Tea, Ice Cream & Frozen Yogurt, Juic...",[],Coffee & Tea,Ice Cream & Frozen Yogurt,Juice Bars & Smoothies

In [57]:
urban_clean.count()

Searched         47056
City             47056
State            47056
Lat              47053
Lng              47053
Restaurant       47056
Category         47056
Transactions     47056
Category 1       47053
Category 2       30425
Category 3       16838
Vegan Options    47056
dtype: int64

In [55]:
total_all = len(urban_clean["Searched"])
print(total_all)

47056

In [48]:
#vegan = urban_clean[list(urban_clean.loc[:,"Category 1": "Category 3"] == "Vegan")]
#vegan_1 = urban_clean[urban_clean['Category 1'] == 'Vegan']
#df[ list(df.loc[:,'A':'C']) + ['E'] + list(df.loc[:,'G':'I']) ]
keywords = ["Vegan", "vegan"]
urban_vegan = urban_clean[(urban_clean["Category 1"].isin(keywords))|(urban_clean["Category 2"].isin(keywords))|(urban_clean["Category 3"].isin(keywords))]
urban_vegan_df = pd.DataFrame(urban_vegan)
urban_vegan_df.head()

,Searched,City,State,Lat,Lng,Restaurant,Category,Transactions,Category 1,Category 2,Category 3,Vegan Options
321,"Oceanside city, California",Oceanside,CA,33.1757,-117.363,The Plot,"[Vegan, American (New)]",[delivery],Vegan,American (New),None,True
341,"Oceanside city, California",Oceanside,CA,33.1962,-117.379,Rim Talay Thai Cuisine,"[Thai, Vegan, Gluten-Free]",[delivery],Thai,Vegan,Gluten-Free,True
408,"Oceanside city, California",Oceanside,CA,33.1831,-117.332,Everbowl,"[Acai Bowls, Juice Bars & Smoothies, Vegan]","[delivery, pickup]",Acai Bowls,Juice Bars & Smoothies,Vegan,True
923,"Oceanside city, California",Carlsbad,CA,33.1388,-117.272,Plantiful Kitchen,"[Bakeries, Vegan, Desserts]",[],Bakeries,Vegan,Desserts,True
985,"Oceanside city, California",Carlsbad,CA,33.1399,-117.273,Choice Juicery,"[Vegan, Juice Bars & Smoothies]","[pickup, delivery]",Vegan,Juice Bars & Smoothies,None,True

In [ ]:
urban_vegan_df.count()

In [ ]:
urban_vegan_df.describe()

In [ ]:
total_urban_vegan = len(urban_vegan["Searched"])
total_urban_vegan

In [49]:
urban_clean_opt = urban_vegan_df
urban_clean_opt["Vegan Options"] = ""
urban_clean_opt.head()
urban_clean_opt["Vegan Options"] = np.where(urban_vegan["Category 1"].isin(keywords)|urban_vegan["Category 2"].isin(keywords)|urban_vegan["Category 3"].isin(keywords), True, False)
urban_clean_opt

,Searched,City,State,Lat,Lng,Restaurant,Category,Transactions,Category 1,Category 2,Category 3,Vegan Options
321,"Oceanside city, California",Oceanside,CA,33.1757,-117.363,The Plot,"[Vegan, American (New)]",[delivery],Vegan,American (New),None,True
341,"Oceanside city, California",Oceanside,CA,33.1962,-117.379,Rim Talay Thai Cuisine,"[Thai, Vegan, Gluten-Free]",[delivery],Thai,Vegan,Gluten-Free,True
408,"Oceanside city, California",Oceanside,CA,33.1831,-117.332,Everbowl,"[Acai Bowls, Juice Bars & Smoothies, Vegan]","[delivery, pickup]",Acai Bowls,Juice Bars & Smoothies,Vegan,True
923,"Oceanside city, California",Carlsbad,CA,33.1388,-117.272,Plantiful Kitchen,"[Bakeries, Vegan, Desserts]",[],Bakeries,Vegan,Desserts,True
985,"Oceanside city, California",Carlsbad,CA,33.1399,-117.273,Choice Juicery,"[Vegan, Juice Bars & Smoothies]","[pickup, delivery]",Vegan,Juice Bars & Smoothies,None,True
...,...,...,...,...,...,...,...,...,...,...,...,...
45622,"Perth Amboy city, New Jersey",Edison,NJ,40.5479,-74.3348,Potatopia,"[Fast Food, American (Traditional), Vegan]","[pickup, delivery]",Fast Food,American (Traditional),Vegan,True
45678,"Perth Amboy city, New Jersey",Staten Island,NY,40.5222,-74.2391,Love Earth,"[Bakeries, Vegan]","[delivery, pickup]",Bakeries,Vegan,None,True
46297,"Perth Amboy city, New Jersey",Millstone,NJ,40.205,-74.4482,Try Vegan,"[Vegan, Juice Bars & Smoothies, Food Trucks]",[],Vegan,Juice Bars & Smoothies,Food Trucks,True
46379,"Peoria city, Arizona",Peoria,AZ,33.5969,-112.203,Casa De Falafel,"[Mediterranean, Vegan, Middle Eastern]",[delivery],Mediterranean,Vegan,Middle Eastern,True
47035,"Peoria city, Arizona",El Mirage,AZ,33.6174,-112.324,Jupiter Rings Wings & More,"[Chicken Wings, Vegan, Fast Food]",[],Chicken Wings,Vegan,Fast Food,True

In [50]:
urban_clean_opt.count()

Searched         330
City             330
State            330
Lat              330
Lng              330
Restaurant       330
Category         330
Transactions     330
Category 1       330
Category 2       316
Category 3       269
Vegan Options    330
dtype: int64

In [51]:
urban_grouped_count = urban_clean_opt.groupby("Searched").count()
urban_grouped_count

,City,State,Lat,Lng,Restaurant,Category,Transactions,Category 1,Category 2,Category 3,Vegan Options
Searched,,,,,,,,,,,
"Alameda city, California",17,17,17,17,17,17,17,17,16,14,17
"Arcadia city, California",6,6,6,6,6,6,6,6,5,5,6
"Bellflower city, California",7,7,7,7,7,7,7,7,7,7,7
"Berkeley city, California",27,27,27,27,27,27,27,27,27,22,27
"Bradenton city, Florida",1,1,1,1,1,1,1,1,1,1,1
"Brookhaven city, Georgia",9,9,9,9,9,9,9,9,7,7,9
"Cambridge city, Massachusetts",26,26,26,26,26,26,26,26,24,18,26
"Carmel city, Indiana",2,2,2,2,2,2,2,2,2,2,2
"Champaign city, Illinois",2,2,2,2,2,2,2,2,2,2,2
"Chesapeake city, Virginia",3,3,3,3,3,3,3,3,2,2,3
"Chico city, California",4,4,4,4,4,4,4,4,4,4,4
"Cincinnati city, Ohio",8,8,8,8,8,8,8,8,8,8,8
"Citrus Heights city, California",9,9,9,9,9,9,9,9,8,7,9
"Colonie town, New York",4,4,4,4,4,4,4,4,4,3,4
"Daly City city, California",4,4,4,4,4,4,4,4,4,4,4
"Denton city, Texas",5,5,5,5,5,5,5,5,4,3,5
"Doral city, Florida",18,18,18,18,18,18,18,18,18,16,18
"Dundee township, Illinois",1,1,1,1,1,1,1,1,1,1,1
"Durham city, North Carolina",11,11,11,11,11,11,11,11,11,10,11
"Elk Grove city, California",3,3,3,3,3,3,3,3,3,1,3
"Fairfield township, Indiana",1,1,1,1,1,1,1,1,1,1,1
"Fall River city, Massachusetts",1,1,1,1,1,1,1,1,1,1,1
"Hollywood city, Florida",16,16,16,16,16,16,16,16,14,11,16
"Hoover city, Alabama",1,1,1,1,1,1,1,1,1,1,1
"Lowell city, Massachusetts",3,3,3,3,3,3,3,3,3,3,3
"Lyons township, Illinois",1,1,1,1,1,1,1,1,1,1,1
"Madison city, Alabama",1,1,1,1,1,1,1,1,1,1,1
"New Rochelle city, New York",4,4,4,4,4,4,4,4,4,2,4
"Newport Beach city, California",19,19,19,19,19,19,19,19,18,16,19
"Norwalk city, Connecticut",3,3,3,3,3,3,3,3,3,2,3
"Oceanside city, California",5,5,5,5,5,5,5,5,5,3,5
"Passaic city, New Jersey",5,5,5,5,5,5,5,5,5,4,5
"Peabody city, Massachusetts",4,4,4,4,4,4,4,4,4,4,4
"Peoria city, Arizona",2,2,2,2,2,2,2,2,2,2,2
"Perry township, Indiana",1,1,1,1,1,1,1,1,1,0,1
"Perth Amboy city, New Jersey",3,3,3,3,3,3,3,3,3,2,3
"Plainfield city, New Jersey",4,4,4,4,4,4,4,4,4,3,4
"Pleasanton city, California",4,4,4,4,4,4,4,4,3,2,4
"Proviso township, Illinois",5,5,5,5,5,5,5,5,5,5,5
"Rock Hill city, South Carolina",2,2,2,2,2,2,2,2,2,2,2
"Santa Barbara city, California",10,10,10,10,10,10,10,10,9,8,10
"Sarasota city, Florida",9,9,9,9,9,9,9,9,9,9,9
"Simi Valley city, California",2,2,2,2,2,2,2,2,2,1,2
"Springfield city, Missouri",1,1,1,1,1,1,1,1,1,0,1
"Stonecrest city, Georgia",1,1,1,1,1,1,1,1,1,1,1
"Sunrise city, Florida",9,9,9,9,9,9,9,9,9,8,9
"Taylorsville city, Utah",5,5,5,5,5,5,5,5,5,4,5
"Travis County, Texas",22,22,22,22,22,22,22,22,22,17,22
"Tulsa city, Oklahoma",1,1,1,1,1,1,1,1,1,1,1
"Utica city, New York",2,2,2,2,2,2,2,2,2,2,2
"Warner Robins city, Georgia",1,1,1,1,1,1,1,1,1,1,1
"West Covina city, California",7,7,7,7,7,7,7,7,7,7,7
"Wichita city, Kansas",2,2,2,2,2,2,2,2,2,2,2
"Woodbridge township, New Jersey",6,6,6,6,6,6,6,6,6,5,6

In [60]:
urban_count_df = pd.DataFrame(urban_grouped_count)
urban_count_df

,City,State,Lat,Lng,Restaurant,Category,Transactions,Category 1,Category 2,Category 3,Vegan Options
Searched,,,,,,,,,,,
"Alameda city, California",17,17,17,17,17,17,17,17,16,14,17
"Arcadia city, California",6,6,6,6,6,6,6,6,5,5,6
"Bellflower city, California",7,7,7,7,7,7,7,7,7,7,7
"Berkeley city, California",27,27,27,27,27,27,27,27,27,22,27
"Bradenton city, Florida",1,1,1,1,1,1,1,1,1,1,1
"Brookhaven city, Georgia",9,9,9,9,9,9,9,9,7,7,9
"Cambridge city, Massachusetts",26,26,26,26,26,26,26,26,24,18,26
"Carmel city, Indiana",2,2,2,2,2,2,2,2,2,2,2
"Champaign city, Illinois",2,2,2,2,2,2,2,2,2,2,2
"Chesapeake city, Virginia",3,3,3,3,3,3,3,3,2,2,3
"Chico city, California",4,4,4,4,4,4,4,4,4,4,4
"Cincinnati city, Ohio",8,8,8,8,8,8,8,8,8,8,8
"Citrus Heights city, California",9,9,9,9,9,9,9,9,8,7,9
"Colonie town, New York",4,4,4,4,4,4,4,4,4,3,4
"Daly City city, California",4,4,4,4,4,4,4,4,4,4,4
"Denton city, Texas",5,5,5,5,5,5,5,5,4,3,5
"Doral city, Florida",18,18,18,18,18,18,18,18,18,16,18
"Dundee township, Illinois",1,1,1,1,1,1,1,1,1,1,1
"Durham city, North Carolina",11,11,11,11,11,11,11,11,11,10,11
"Elk Grove city, California",3,3,3,3,3,3,3,3,3,1,3
"Fairfield township, Indiana",1,1,1,1,1,1,1,1,1,1,1
"Fall River city, Massachusetts",1,1,1,1,1,1,1,1,1,1,1
"Hollywood city, Florida",16,16,16,16,16,16,16,16,14,11,16
"Hoover city, Alabama",1,1,1,1,1,1,1,1,1,1,1
"Lowell city, Massachusetts",3,3,3,3,3,3,3,3,3,3,3
"Lyons township, Illinois",1,1,1,1,1,1,1,1,1,1,1
"Madison city, Alabama",1,1,1,1,1,1,1,1,1,1,1
"New Rochelle city, New York",4,4,4,4,4,4,4,4,4,2,4
"Newport Beach city, California",19,19,19,19,19,19,19,19,18,16,19
"Norwalk city, Connecticut",3,3,3,3,3,3,3,3,3,2,3
"Oceanside city, California",5,5,5,5,5,5,5,5,5,3,5
"Passaic city, New Jersey",5,5,5,5,5,5,5,5,5,4,5
"Peabody city, Massachusetts",4,4,4,4,4,4,4,4,4,4,4
"Peoria city, Arizona",2,2,2,2,2,2,2,2,2,2,2
"Perry township, Indiana",1,1,1,1,1,1,1,1,1,0,1
"Perth Amboy city, New Jersey",3,3,3,3,3,3,3,3,3,2,3
"Plainfield city, New Jersey",4,4,4,4,4,4,4,4,4,3,4
"Pleasanton city, California",4,4,4,4,4,4,4,4,3,2,4
"Proviso township, Illinois",5,5,5,5,5,5,5,5,5,5,5
"Rock Hill city, South Carolina",2,2,2,2,2,2,2,2,2,2,2
"Santa Barbara city, California",10,10,10,10,10,10,10,10,9,8,10
"Sarasota city, Florida",9,9,9,9,9,9,9,9,9,9,9
"Simi Valley city, California",2,2,2,2,2,2,2,2,2,1,2
"Springfield city, Missouri",1,1,1,1,1,1,1,1,1,0,1
"Stonecrest city, Georgia",1,1,1,1,1,1,1,1,1,1,1
"Sunrise city, Florida",9,9,9,9,9,9,9,9,9,8,9
"Taylorsville city, Utah",5,5,5,5,5,5,5,5,5,4,5
"Travis County, Texas",22,22,22,22,22,22,22,22,22,17,22
"Tulsa city, Oklahoma",1,1,1,1,1,1,1,1,1,1,1
"Utica city, New York",2,2,2,2,2,2,2,2,2,2,2
"Warner Robins city, Georgia",1,1,1,1,1,1,1,1,1,1,1
"West Covina city, California",7,7,7,7,7,7,7,7,7,7,7
"Wichita city, Kansas",2,2,2,2,2,2,2,2,2,2,2
"Woodbridge township, New Jersey",6,6,6,6,6,6,6,6,6,5,6

In [52]:
#urban_grouped.to_csv("../urbangrouped.csv")

In [ ]:
urban_count.describe()

In [61]:
total_vegan = sum(urban_count_df["Vegan Options"])
total_vegan

330